@import '~antd/dist/antd.css';

.bg{
  font-family: 'Calibri', sans-serif;
  background-color: #17a2b8;
  }

.App {
  text-align: center;
}

.text-info-overlap{
    color: white;
}

.text-secondary1 {
 color: white;
 }
 .text-secondary1 th {
  color: white;
  }

 .ant-card-head{
    background-color: black;
    color: white;
 }

 .ant-btn{
  background-color: #17a2b8;
  color: white;
}


.text-danger{
    padding-bottom: 50px;
}


.table-font{
  font-size: x-large;
}

.stock-trend-wrapper{
  font-size: large !important;
}